* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidepanel {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  width: 60%;
}

.history-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.grid {
  width: 50%;
  justify-content: center;
  /* width: 400px; */
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  /* border: 1px solid gray; */
}
.grid-item {
  background-color: red;
  border: 0.5px solid #000;
}

.head {
  background-color: blue;
}

.snake {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: teal;
}